<div class="col-md-3 pr-md-4">
    <div class="sidebar-left">
        <!--sidebar menu-->
        <ul class="list-unstyled sidebar-menu pl-md-2 pr-md-0">
            <li>
                <a class="sidebar-item active d-flex justify-content-between align-items-center" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                    Dashboard
                    <span class="fas fa-tachometer-alt"></span>
                </a>
            </li>
            <li>
                <a class="sidebar-item d-flex justify-content-between align-items-center" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                    Create Post
                    <span class="fas fa-copy"></span>
                </a>
            </li>
            <li>
                <a class="sidebar-item d-flex justify-content-between align-items-center" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                    All Post
                    <span class="side-notif" title="1 new comment">1</span>
                    <span class="fas fa-comment"></span>
                </a>
            </li>
            <li>
                <a class="sidebar-item d-flex justify-content-between align-items-center" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                    Bookmarks
                    <span class="side-notif" title="1 new messages">1</span>
                    <span class="fas fa-envelope"></span>
                </a>
            </li>
            
            <li>
                <a class="sidebar-item d-flex justify-content-between align-items-center" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                    Comments
                    <span class="fas fa-heart"></span>
                </a>
            </li>
            <li>
                <a class="sidebar-item d-flex justify-content-between align-items-center" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                    Edit Profile
                    <span class="fas fa-cog"></span>
                </a>
            </li>
            <li>
                <a class="sidebar-item d-flex justify-content-between align-items-center" href="https://bootstrap.news/bootstrap-4-template-news-portal-magazine/">
                    Change Password
                    <span class="fas fa-user"></span>
                </a>
            </li>
            <li>
                <a class="sidebar-item d-flex justify-content-between align-items-center" href="/auth/logout">
                    Sign out
                    <span class="fas fa-sign-out-alt"></span>
                </a>
            </li>
        </ul>
    </div>
</div>