<!-- Include Profile header -->
<%- include('../../partials/dashboard/dashboardHeader.ejs') %>


<section id="about-us" class="py-5">
    <div class="container">
        <div class="row">
             <!--left sidebar-->
             <%- include('../../partials/dashboard/dashboardSidebar.ejs') %>
            <!--Body Content Content-->
            <div class="col-md-9">
                <div class="dashboard-area">
                    <%- include('../../partials/dashboard/dashboardUser.ejs') %>
                </div>
            </div>
        </div>
    </div>
</section>